<!DOCTYPE html>
<!--[if IE 9]><html class="no-js ie ie9"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <meta name="description" content="" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="author" content="Craig Coles" />
    <meta name="copyright" content="<%= Time.now.year %>, Craig Coles" />
    <meta name="Geo.Country" content="GB" />
    <meta name="Geo.Region" content="GB-BST" />

    <!--
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">
    -->

    <link rel="stylesheet" type="text/css" href="/assets/application.css" media="screen,tv,projection">

    <!--[if lte IE 9]>
      <link rel="stylesheet" type="text/css" href="/assets/ie.css" media="screen,tv,projection">
    <![endif]-->
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script> 

  </head>

  <body>
    <div class="page">

      <header class="site-header">
        <!-- Header -->
      </header>
      
      <section class="content">   
        <%= yield %>
      </section>
      
      <footer class="site-footer">
        <!-- Footer -->
      </footer>

    </div><!-- eo:page -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/application.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
  
</html>