<% @title = "Test" %>

<pre>
  <%#= @response_status %>
</pre>

<% @response_status['channel']['item'].each do |movie| %>
  <% if movie['guid']['content'].match(/letterboxd-watch/) %>

    <% movie_title = movie['title'].split(',', 2).first %>
    <% movie_year = movie['title'].split('-', 2).first.split(',', 2).last %>

    <%
      description = Nokogiri::HTML( movie['description'] )
      poster = description.css('img').map{ |i| i['src'].to_s } 
    %>

    <p class="<%= movie['guid']['content'] %>">
      <span><%= movie_title %></span><br/>
      <span><%= movie_year %></span><br/>
      <span><%= poster %></span>
    </p>

  <% end %>
<% end %>
